@page "/academia"
<div class="container">
    <h1>Academia</h1>
    <p>Descubra técnicas de treino e dicas de musculação para atingir seus objetivos.</p>
    <ul>
        <li><a href="#">Treino de peito para hipertrofia</a></li>
        <li><a href="#">Dicas de alimentação para ganho de massa muscular</a></li>
        <!-- Mais artigos... -->
    </ul>
</div>
