@page "/animes-e-mangas"
<div class="container">
    <h1>Animes e Mangás</h1>
    <p>Confira as últimas novidades no mundo dos animes e mangás.</p>
    <ul>
        <li><a href="#">Análise do novo episódio de [Anime X]</a></li>
        <li><a href="#">Sugestões de mangás para ler em 2024</a></li>
        <!-- Mais conteúdo... -->
    </ul>
</div>
