@page "/futebol"
<div class="container">
    <h1>Futebol</h1>
    <p>Aqui você encontrará as últimas tendências e notícias do mundo do futebol.</p>
    <ul>
        <li>Partida 1: Time A vs Time B - Resultado: 2-1</li>
        <li>Partida 2: Time C vs Time D - Resultado: 0-0</li>
        <!-- Mais partidas... -->
    </ul>
</div>
