@page "/"
<div class="container">
    <h1>Bem-vindo ao MeuSiteDeTendencias</h1>
    <div class="row">
        <div class="col-md-4">
            <h2>Futebol</h2>
            <p>Últimas tendências e estatísticas do futebol...</p>
            <NavLink href="/futebol">Saiba mais</NavLink>
        </div>
        <div class="col-md-4">
            <h2>Academia</h2>
            <p>Dicas de treino e bem-estar...</p>
            <NavLink href="/academia">Saiba mais</NavLink>
        </div>
        <div class="col-md-4">
            <h2>Animes e Mangás</h2>
            <p>Novidades e análises...</p>
            <NavLink href="/animes-e-mangas">Saiba mais</NavLink>
        </div>
    </div>
</div>
